# requirements.txt
python-dotenv
requests
beautifulsoup4
langchain
langchain-openai
langchain-upstage
langchain-community
langchain_chroma
chromadb
tiktoken
langsmith
streamlit
dotenv
rouge-score
nltk 
sentence-transformers 
kiwipiepy
#pysqlite3-binary
#pysqlite3